//
   Created by Liomka on 23/07/15.

extends layout

block head
  link(href='/stylesheets/cv.css', rel='stylesheet', media='screen')

block content
  .container
    .jumbotron.jumbotron-custom
      h3 Demo chat v1.0
        small
          a(href='#Description')  Description
            span.caret
    .panel.panel-custom
      .panel-heading
        form.form-inline(role='form', onsubmit='return false;')
          .input-group
            label.sr-only(for='userName') User name
            input#userName.form-control(type='text', placeholder='User name')
            .input-group-btn
              button#toggleConnectionButton.btn.btn-primary(type='submit')

      // Chat
      .panel-body
        .btn-group.pull-right
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
            span.glyphicon.glyphicon-align-justify
          dl#userList.dropdown-menu(role='menu')
        #chatLog

      .panel-footer
        form.form-horizontal(role='form', onsubmit='return false;')
          .input-group
            label.sr-only(for='userInput') Message input
            input#userInput.form-control(type='text', placeholder='Type your lovely message here')
            .input-group-btn
              button#sendText.btn.btn-primary(type='submit') Send

    #Description.panel.panel-custom.project
      .panel-heading
        h3.panel-title Description
      .panel-body
        p Demo:
          a(href='/demo') Demo page
        p GiHub:
          a(href='https://github.com/liomka/LiomkaSite/blob/master/templates/jswsclient.html') Source page
        .alert.alert-warning(role='alert')
          p This section is under construction.
        h5.title What I used?
        p JQuery, Bootstrap, JSON.
        h5.title Why?
        p Just for you, user interested of my projects/profile. Because I need to show stuffs easily, and I need people for see this stuffs.
        h5.title How
        p With incredible ease, seriously, every WebSocket server documentation provide a sample Js script to test. So copy/past, and then, JSON, the most simple data format to use with it.
        h5.title In two words ...
        p Javascript is a very ugly language BUT, with some libs, imagination, and a total obfuscation of old browsers,  we can make great and beautiful things. Definitely, this project reconciled me with Js, so.. I've make
          a(href='#site') This site
          | . Thanks JQuery.

block scripts
    script(src='javascripts/jswsclient.js')
    script= "setWSServer('" + wsserver + "')"
